# Node.js
node_modules/
package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Configuración de editores
.vscode/
.idea/

# Archivos de sistema operativo
*.swp
*.swo

# Archivos de compilación (si usas herramientas como Vite/Webpack en el futuro)
dist/
build/

# Archivos personales o de entrega
*.pdf
*.docx
*.zip
*.rar

# Tarea del curso
!TareaFinal_EDyA1_2053_3.pdf
!Proyecto Final - EDyA1.pdf